<div class="container mt-4">
  <h2>Change Password</h2>
  <hr>

  <form (ngSubmit)="changePassword()">
    <div class="mb-3">
      <label class="form-label">Current Password</label>
      <input type="password" [(ngModel)]="model.currentPassword" name="currentPassword" class="form-control" required>
    </div>

    <div class="mb-3">
      <label class="form-label">New Password</label>
      <input type="password" [(ngModel)]="model.newPassword" name="newPassword" class="form-control" required>
    </div>

    <button class="btn btn-primary">Update Password</button>
  </form>
</div>
